/bin/
/develop-eggs/
/parts/
/.installed.cfg

cIMZ/build
cIMZ/lib
cIMZ/bin

.ipynb_checkpoints
.vscode

examples/aorta3d
examples/deresults
examples/MetaData
examples/slided_test

build
dist
pIMZ.egg-info

docs/_build
__pycache__

*.o
*.so